%h1= t('activerecord.attributes.user.messages.list')

%table
  %thead
    %tr
      %th= t('activerecord.attributes.user.name')
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= image_tag user.avatar.url(:thumb)
        %td= link_to t('app.actions.edit'), edit_user_path(user)
        %td= link_to t('app.actions.destroy'), user, :method => :delete, :data => { :confirm => t('app.delete_confirm') }
%br

= link_to t('helpers.submit.user.create'), new_user_path
