= form_for(@order) do |f|
  - if @order.errors.any?
    %div#error_explanation
      %h2= t('.errors_present')
      %ul
        - @order.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    %br
    = f.text_field :name, size: 40

  .field
    = f.label :address
    %br
    = f.text_area :address, rows: 3, cols: 40

  .field
    = f.label :phone
    %br
    = f.text_field :phone, size: 20

  .field
    = f.label :email
    %br
    = f.text_field :email, size: 40

  .field
    = f.label :payment_type
    %br
    = f.select(:payment_type_id, PaymentType.all.map { |pt| [t(".#{pt.title}"), pt.id] }, prompt: t('.pay_prompt_html'))
  - if @order.persisted?
    .field
      = f.label :ship_date
      %br
      = f.text_field :ship_date, size: 10

  .actions
    = f.submit I18n.t('activerecord.attributes.order.submit')
