%h1= t('activerecord.models.order.other')
%table
  %thead
    %tr
      %th= t('activerecord.attributes.order.name')
      %th= t('activerecord.attributes.order.address')
      %th= t('activerecord.attributes.order.phone')
      %th= t('activerecord.attributes.order.email')
      %th= t('activerecord.attributes.order.payment_type')
      %th{:colspan => "3"}
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.name
        %td= order.address
        %td= order.phone
        %td= order.email
        %td= t("#{order.payment_type.try(:title)}".to_sym, scope: 'orders.form')
        %td= link_to t('app.actions.show'), order
        %td= link_to t('app.actions.edit'), edit_order_path(order)
        %td= link_to t('app.actions.destroy'), order, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to t('helpers.submit.order.create'), new_order_path
