= form_for(@product) do |f|
  - if @product.errors.any?
    #error_explanation
      %h2
        = pluralize(@product.errors.count, "error")
        prohibited this product from being saved:
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message
  = f.hidden_field :lock_version
  .field
    = f.label :title
    %br/
    = f.text_field :title
  .field
    = f.label :description
    %br/
    = f.text_area :description, rows: 6, class: "shiny"
  .field
    = f.label :image_url
    %br/
    = f.text_field :image_url
  .field
    = f.label :price
    %br/
    = f.text_field :price
  .field
    = f.label :locale
    %br/
    = f.select(:locale, I18n.available_locales)
  .field
    = f.check_box :terms_of_service, value: 1
    = f.label :terms_of_service
  .actions
    = f.submit
