<h1>Устранение конфликта при редактировании</h1>

<p>Пока вы изменяли запись, кто-то успел изменить ее до вас.</p>

<h3>Ваши сохраняемые данные</h3>
<pre>
  <% params[:product].each do |name, value| %>
    <%=h name.humanize %>: <%=h value  %>
  <% end %>
</pre>

<h3>Данные, сохраненные кем-то другим</h3>
<%= render 'form' %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
