%h1 Listing products

- if notice
  %p#notice= notice

%table.products
  - @products.each do |product|
    %tr{class: "#{cycle('list_line_odd', 'list_line_even')}"}
      %td
        %p= image_tag(product.image_url, class: 'list_image')
      
      %td.list_description
        %dl
          %dt= product.title
          %dd= truncate(strip_tags(product.description), length: 80)
      
      %td.list_actions
        = link_to 'Показать', product
        %br/
        = link_to 'Ред.', edit_product_path(product)
        %br/
        = link_to 'Удалить', product, method: :delete, data: { confirm: I18n.t('app.delete_confirm') }

%p= link_to 'New product', new_product_path
