%h1= @product.title

%h2 Описание (#{ @product.locale })
%p= @product.description

%h2 Изображение:
%p
  = image_tag @product.image_url, class: "thumb"

%h2 
  Цена: 
  = @product.price

= render 'reviews/index', reviews: @reviews
= render 'reviews/review_form', review: @review, product_id: @product.id

= link_to 'Редактировать', edit_product_path(@product)
|
= link_to 'Назад', products_path