<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Каталог товаров</h1>

<% if @counter > 5 %>
  <p><%= I18n.t('app.your_page_views') %>: <%= @counter %> <%= I18n.t('misc.views', :count => @counter) %></p>
<% end %>
<p><%= @counter %> <%= I18n.t('misc.kids', :count => @counter) %></p>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <div class="content">
      <%= sanitize(product.description) %>
    </div>
    <div class="price_line">
      <span class="price">
        <%= number_to_currency(product.price, locale: :ru) %>
      </span>
      <%= button_to I18n.t('app.add_to_cart'), line_items_path(product_id: product.id) %>
    </div>
  </div>
<% end %>
