<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <span class="title"><%= @page_title %></span>
    </div>

    <div id="columns">
      <div id="side">
        
        <%= hidden_div_if(@cart.line_items.blank?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="http://www..../faq">Questions</a></li>
          <li><a href="http://www..../news">News</a></li>
          <li><a href="http://www..../contact">Contact</a></li>
        </ul>
        <p class="time">
          <%= Time.now.to_formatted_s(:long) %>
        </p>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
