<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>Pragprog Books Online Store</title>
<!-- END_HIGHLIGHT -->
  <%= stylesheet_link_tag    "application", media: "all" %><!-- <label id="code.slt"/> -->
  <%= javascript_include_tag "application" %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
</head>
<!-- END:head -->
<body class="<%= controller.controller_name %>">
<!-- START_HIGHLIGHT -->
  <div id="banner">
    <a href="/" title="На главную">
    <%= image_tag("logo.png") %>
    </a>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart if @cart %>
        <% end %>
      </div>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/products/">Управление товарами</a></li>
      </ul>
      <p class="datetime_current">
          <%= I18n.t 'app.now' %> <%= I18n.l Time.now %>
      </p>
    </div>
    <div id="main">
<!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
<!-- START_HIGHLIGHT -->
    </div>
  </div>
<!-- END_HIGHLIGHT -->
</body>
</html>
