!!!
/ START:head
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / START_HIGHLIGHT
    %title= @page_title || t('.title')
    / END_HIGHLIGHT
    = stylesheet_link_tag    "application", media: "all"
    / <label id="code.slt"/>
    = javascript_include_tag "application"
    / <label id="code.jlt"/>
    = csrf_meta_tags
    / <label id="code.csrf"/>
  / END:head
  %body{:class => "#{controller.controller_name}"}
    / START_HIGHLIGHT
    #banner
      %a{:href => "/", :title => "На главную"}
        = image_tag("logo.png")
      = @page_title || "Pragmatic Bookshelf"
      %ul.language_menu
        %li{:class => "#{cp(url_for(locale: :ru))}"}= link_to 'RU', url_for(locale: :ru)
        %li{:class => "#{cp(url_for(locale: :en))}"}= link_to 'EN', url_for(locale: :en)
    #columns
      #side
        #cart
          - if @cart
            = hidden_div_if(@cart.line_items.empty?, id: 'cart') do
              = render @cart
        %ul
          %li
            = link_to t('.main'), root_path
          - if session[:user_id]
            %li= link_to t('.products'), products_path
            %li= link_to t('.orders'), orders_path
            %li= link_to t('.users'), users_path

        %p.datetime_current
          = I18n.t 'app.now'
          = I18n.l Time.now
      #main
        - if flash[:error].present?
          %p.flash.flash_error= flash[:error]
        - if flash[:notice].present?
          %p.flash.flash_notice= flash[:notice]
        = yield
        / <label id="code.depot.e.include"/>
        / START_HIGHLIGHT
    / END_HIGHLIGHT
